<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/output.css"/>
</head>
<body>
<header class=" bg-red-500 text-white p-4 shadow-md">
    <nav class="container mx-auto flex">
        <ul class="flex space-x-4">
            <li><a href='/' class="px-4 py-2 hover:bg-amber-300 rounded transition duration-300">Home</a></li>
            <li><a href='/homeList' class="px-4 py-2 hover:bg-amber-300 rounded transition duration-300">Home List</a></li>
            <li><a href='/host/home' class="px-4 py-2 hover:bg-amber-300 rounded transition duration-300">Add Home</a></li>
            <li><a href='/bookings' class="px-4 py-2 hover:bg-amber-300 rounded transition duration-300">Bookings</a></li>
            <li><a href='/favorite' class="px-4 py-2 hover:bg-amber-300 rounded transition duration-300">Favorites</a></li>
            <li><a href='/homeList/:homeId' class="px-4 py-2 hover:bg-amber-300 rounded transition duration-300">Details</a></li>
            <li><a href='reserve' class="px-4 py-2 hover:bg-amber-300 rounded transition duration-300">Reserve</a></li>
            <li><a href='/host/homeList' class="px-4 py-2 hover:bg-amber-300 rounded transition duration-300"></a>Home List</li>
            <li><a href='/host/editHome' class="px-4 py-2 hover:bg-amber-300 rounded transition duration-300">Edit Home</a></li>
        </ul>
    </nav>
</header>