<%- include('partials/header')%>
<main class="container mx-auto mt-8 p-8 bg-white rounded-lg shadow-md">
    <h1 class="text-3xl font-bold mb-6 text-center text-gray-800">Register Your Home on AirBnB</h1>
    <form class="max-w-md mx-auto" action="/host/home" method="post">
        <!-- <label for="name" >Name</label> -->
        <input class="w-full border rounded-md shadow-md px-4 py-2 mb-4 "id="home" name="home" type="text" placeholder="Enter Home" autocomplete="off"/>
        <br>
        <input class="w-full border rounded-md shadow-md px-4 py-2 mb-4 "id="price" name="price" type="number" placeholder="Enter Price" autocomplete="off"/>
        <br>
        <input class="w-full border rounded-md shadow-md px-4 py-2 mb-4 "id="location" name="location" type="text" placeholder="Enter Location" autocomplete="off"/>
        <br>
        <select class="w-full border rounded-md shadow-md px-4 py-2 mb-4 " name="rating">
            <option value="">Select Rating</option>
            <% [...Array(5).keys()].map((ele,i)=>{%>
                <option value=<%- i %>><%- ele %></option>
            <% })%>
        </select>
        <!-- <input class="w-full border rounded-md shadow-md px-4 py-2 mb-4 "id="home" name="rating" type="text" placeholder="Enter Home" autocomplete="off"/>
        <br> -->
        <input class="w-full border rounded-md shadow-md px-4 py-2 mb-4 "id="home" name="photo" type="file" placeholder="Select photo" autocomplete="off"/>
        <br>
        <input type="submit" value="Submit" class="w-full bg-red-500 text-white py-2 rounded-md hover:bg-red-600 transition duration-300" />
    </form>
</main>
</body>
</html>