<div>
    <form action="/favorite" method="POST">
        <button class="w-full bg-red-500 text-white py-2 mt-2 rounded-md hover:bg-red-600 transition duration-300">Add to Favorite</button>
        <input type="hidden" name="homeId" value="<%= home.id %>"/>
    </form>
</div>